<nav class="navbar navbar-expand navbar-dark bg-dark">
	<a class="navbar-brand" href="mybits.html">
		<img src="favicon.ico" width="45" height="45" alt="" loading="lazy">
  </a>
    <div class="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="models.html">Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="resource.html">Student Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="disclosure.html">Disclosures</a>
        </li>
      </ul>
    </div>
  </nav>